<%= turbo_frame_tag "modal" do %>
  <div 
    class="fixed inset-0 h-screen w-full bg-slate-800 text-white p-6 space-y-3 text-center z-50 overflow-y-auto" 
    data-controller="modal" 
    data-modal-target="overlay"
    data-action="click->modal#closeBg"
  >
    <!-- Order details -->
    <div class="rounded-xl bg-black/20 p-4 space-y-4">
      <div class="flex justify-between">
        <span class="text font-bold"><%= t("awaiting_payment.order_details") %></span>
        <button class="px-4 py-2 text-sm block bg-white/10 text-white/70 rounded hover:bg-gray-300" data-action="click->modal#close">
          <i class="fa-solid fa-arrow-left-long"></i>
          <span><%= t("awaiting_payment.back_button") %></span>
        </button>
      </div>
      <div class="text-sm">
        <div class="flex justify-between">
          <span><%= t("awaiting_payment.mining_power") %></span>
          <span><%= @mining_power %> GH/s ⚡</span>
        </div>
        <div class="flex justify-between">
          <span><%= t("awaiting_payment.rent_period") %></span>
          <span><%= @rent_period %> days</span>
        </div>
        <div class="flex justify-between">
          <span><%= t("awaiting_payment.total_profit") %></span>
          <span>~<%= format("%.3f", @total_profit) %> TON</span>
        </div>
        <div class="flex justify-between">
          <span><%= t("awaiting_payment.daily_profit") %></span>
          <span>~<%= format("%.3f", @daily_profit) %> TON</span>
        </div>
        <div class="flex justify-between">
          <span><%= t("awaiting_payment.price") %></span>
          <span><%= @price %> TON</span>
        </div>
      </div>
    </div>

    <!-- Payment QR -->
    <div class="rounded-xl bg-black/20 p-4 space-y-4">
      <span class="text-xl font-bold block text-start"><%= t("awaiting_payment.payment") %></span>
      <p class="text-sm text-white/50 text-center">
        <%= t("awaiting_payment.send_ton_to") %>
      </p>
      <canvas 
        class="mx-auto"
        data-controller="qr" 
        data-qr-data-value="<%= current_user.ton_address %>"
      >
      </canvas>
      <span class="text-xl text-center block"><span class="text-2xl font-bold"><%= @price %></span> TON</span>
      <div class="space-y-2">
        <span class="text-white/50 text-sm text-center block"><%= t("awaiting_payment.to_address", amount: @price) %></span>
        <div 
          class="cursor-pointer flex justify-center space-x-2 items-center"
          data-controller="clipboard" 
          data-clipboard-content-value="<%= current_user.ton_address %>"
          data-action="click->clipboard#copy"
        >
          <span class="text-xs break-all">
            <%= current_user.ton_address %>
          </span>
          <i class="fa-solid fa-copy text-white/50"></i>
        </div>
      </div>
    </div>

    <!-- Await area -->
    <div class="rounded-xl bg-black/20 p-4 space-y-4">
      <div class="flex items-center space-x-3">
        <span class="text-xl font-bold block text-start"><%= t("awaiting_payment.footer_title") %></span>
        <div class="w-8 h-8 border-4 border-white/70 border-t-transparent rounded-full animate-spin"></div>
      </div>
      <div class="space-y-1 text-center text-white/50 text-sm">
        <p>
            <%= t("awaiting_payment.footer_text_1") %>
          </p>
          <p>
            <%= t("awaiting_payment.footer_text_2") %>
          </p>
        </div>
    </div>
  </div>
<% end %>