<%= turbo_frame_tag "modal" do %>
  <div 
    class="fixed inset-0 h-screen w-full bg-slate-800 text-white p-6 space-y-3 text-center z-50 overflow-y-auto" 
    data-controller="modal" 
    data-modal-target="overlay"
    data-action="click->modal#closeBg"
  >
    <!-- Order details -->
    <div class="p-4 space-y-4">
      <button class="px-4 py-2 block bg-white/10 text-white/70 rounded hover:bg-gray-300" data-action="click->modal#close">
        <i class="fa-solid fa-arrow-left-long"></i>
        <span><%= t("friends_list.back_button") %></span>
      </button>

      <div class="flex gap-2">
        <div class="flex-grow flex flex-col justify-center p-3 rounded-xl bg-black/10">
          <span class="text-sm"><%= t("friends_list.level", number: 1) %></span>
          <span class="text-xl font-bold">0</span>
        </div>
        <div class="flex-grow flex flex-col justify-center p-3 rounded-xl bg-black/10">
          <span class="text-sm"><%= t("friends_list.level", number: 2) %></span>
          <span class="text-xl font-bold">0</span>
        </div>
        <div class="flex-grow flex flex-col justify-center p-3 rounded-xl bg-black/10">
          <span class="text-sm"><%= t("friends_list.level", number: 3) %></span>
          <span class="text-xl font-bold">0</span>
        </div>
      </div>
      <span class="block text-center text-white/50"><%= t("friends_list.no_friends") %></span>
    </div>
  </div>
<% end %>