<%= turbo_frame_tag "modal" do %>
   <div 
    class="fixed inset-0 h-screen w-full bg-slate-800 text-white p-6 space-y-4 text-start z-50 overflow-y-auto" 
    data-controller="modal" 
    data-modal-target="overlay"
    data-action="click->modal#closeBg"
  >
    <!-- <--<< Back -->
    <div class="flex justify-end w-full">
      <button class="px-4 py-2 flex items-center space-x-2 bg-black/20 text-white/70 rounded hover:bg-gray-300 font-semibold" data-action="click->modal#close">
        <i class="fa-solid fa-arrow-left-long"></i>
        <span>Back</span>
      </button>
    </div>

    <span class="block text-base font-bold"><%= t("terms.title") %></span>
    <span class="text-xs block text-white/50"><%= t("terms.last_updated") %> 07/04/2024</span>

    <!-- Introduction -->
    <span class="text-xs block">1. <%= t("terms.items.item1.title") %></span>
    <p class="text-xs block text-white/50"><%= t("terms.items.item1.body") %></p>

    <!-- Eligibility -->
    <span class="text-xs block">2. <%= t("terms.items.item2.title") %></span>
    <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item2.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item2.body_2") %></p>
    </div>

    <!-- Service Description -->
    <span class="text-xs block">3. <%= t("terms.items.item3.title") %></span>
    <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item3.body_1") %></p>
      <ul class="text-xs block text-white/50 space-y-1">
        <li><%= t("terms.items.item3.ul.li_1") %></li>
        <li><%= t("terms.items.item3.ul.li_2") %></li>
        <li><%= t("terms.items.item3.ul.li_3") %></li>
        <li><%= t("terms.items.item3.ul.li_4") %></li>
        <li><%= t("terms.items.item3.ul.li_5") %></li>
      </ul>
    </div>

    <!-- User Responsibilities -->
    <span class="text-xs block">4. <%= t("terms.items.item4.title") %></span>
    <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item4.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item4.body_2") %></p>
      <ul class="text-xs block text-white/50 space-y-1">
        <li><%= t("terms.items.item4.ul.li_1") %></li>
        <li><%= t("terms.items.item4.ul.li_2") %></li>
        <li><%= t("terms.items.item4.ul.li_3") %></li>
        <li><%= t("terms.items.item4.ul.li_4") %></li>
        <li><%= t("terms.items.item4.ul.li_5") %></li>
        <li>
          <%= t("terms.items.item4.ul.li_6.title") %>
          <ul class="space-y-1">
            <li><%= t("terms.items.item4.ul.li_6.ul.li_1") %></li>
            <li><%= t("terms.items.item4.ul.li_6.ul.li_2") %></li>
            <li><%= t("terms.items.item4.ul.li_6.ul.li_3") %></li>
            <li><%= t("terms.items.item4.ul.li_6.ul.li_4") %></li>
            <li><%= t("terms.items.item4.ul.li_6.ul.li_5") %></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Penalties for Violations: -->
    <span class="text-xs block">5. <%= t("terms.items.item5.title") %></span>
    <ul class="text-xs block text-white/50 space-y-2">
      <li><%= t("terms.items.item5.ul.li_1") %></li>
      <li><%= t("terms.items.item5.ul.li_2") %></li>
      <li><%= t("terms.items.item5.ul.li_3") %></li>
    </ul>

    <!-- Monitoring and Reporting: -->
    <span class="text-xs block">6. <%= t("terms.items.item6.title") %></span>
    <ul class="text-xs block text-white/50 space-y-2">
      <li><%= t("terms.items.item6.ul.li_1") %></li>
      <li><%= t("terms.items.item6.ul.li_2") %></li>
    </ul>

    <!-- Deposits and Withdrawals -->
    <span class="text-xs block">7. <%= t("terms.items.item7.title") %></span>
    <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item7.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item7.body_2") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item7.body_3") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item7.body_4") %></p>
    </div>

    <!-- Referral Program -->
    <span class="text-xs block">8. <%= t("terms.items.item8.title") %></span>
    <span class="text-xs block"><%= t("terms.items.item8.body_1") %></span>
    <ul class="text-xs block text-white/50 pace-y-2">
      <li>
        <span class="text-white font-bold" ><%= t("terms.items.item8.ul.li_1.title") %></span>
        <%= t("terms.items.item8.ul.li_1.body") %>
      </li>
      <li>
        <span class="text-white font-bold" ><%= t("terms.items.item8.ul.li_2.title") %></span>
        <%= t("terms.items.item8.ul.li_2.body") %>
      </li>
      <li>
        <span class="text-white font-bold" ><%= t("terms.items.item8.ul.li_3.title") %></span>
        <%= t("terms.items.item8.ul.li_3.body") %>
      </li>
    </ul>
    <span class="text-xs block text-white/50"><%= t("terms.items.item8.body_2") %></span>
    <span class="text-xs block text-white/50"><%= t("terms.items.item8.body_3") %></span>

    <!-- Earnings and Interest Rates -->
    <span class="text-xs block">9. <%= t("terms.items.item9.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item9.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item9.body_2") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item9.body_3") %></p>
    </div>

    <!-- Content Ownership and Intellectual Property -->
    <span class="text-xs block">10. <%= t("terms.items.item10.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item10.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item10.body_2") %></p>
    </div>

    <!-- Privacy and Data Protection -->
    <span class="text-xs block">11. <%= t("terms.items.item11.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item11.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item11.body_2") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item11.body_3") %></p>
    </div>

    <!-- Limitation of Liability -->
    <span class="text-xs block">12. <%= t("terms.items.item12.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item12.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item12.body_2") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item12.body_3") %></p>
    </div>

    <!-- Governing Law and Dispute Resolution -->
    <span class="text-xs block">13. <%= t("terms.items.item13.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item13.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item13.body_2") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item13.body_3") %></p>
    </div>

    <!-- Amendments to Terms -->
    <span class="text-xs block">14. <%= t("terms.items.item14.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item14.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item14.body_2") %></p>
    </div>

     <!-- Miscellaneous -->
    <span class="text-xs block">15. <%= t("terms.items.item15.title") %></span>
     <div class="space-y-2">
      <p class="text-xs block text-white/50"><%= t("terms.items.item15.body_1") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item15.body_2") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item15.body_3") %></p>
      <p class="text-xs block text-white/50"><%= t("terms.items.item15.body_4") %></p>
    </div>

    <span class="text-xs block">16. <%= t("terms.items.item16.title") %></span>
     <div>
      <p class="text-xs block text-white/50"><%= t("terms.items.item16.body") %></p>
    </div>
  </div>
<% end %>
